/* =======================
 * CLASSNAME PREFIXES
 * --
 * h__  [ HOME PAGE ]
 * p__  [ PRODUCTS PAGE ]
 * pc__ [ PRODUCT CATEGORY PAGE ]
 * sp__ [ SELECTED PRODUCT PAGE ]
 * bw__ [ BASIC WARRANTY PAGE ]
 * ew__ [ EXTENDED WARRANTY PAGE ]
 * ch__ [ CHECKOUT PAGE ]
 * wi__ [ WARRANTY INFO PAGE ]
 * a__  [ ABOUT PAGE ]
 * c__  [ CONTACT PAGE ]
 * rw__ [ REGISTER WARRANTY PLAN ]
 * ls__ [ LOGIN/SIGNUP PAGE ] 
 * usr__[ USER PROFILE PAGE ]
 * ======================= */

.y-scrollable {
	max-height: 100%;
	-ms-overflow-y: auto;
	    overflow-y: auto;
}

.filters__container {
	margin-top: 10px;
	margin-bottom: 40px;
}

.gmap {
	height: 522px;
	width: 100%;
}

.product__filters__holder {
	height: 200px;
	overflow-y: auto;
	border: 2px solid #003661;
	margin: auto;
	background: #fff;
	margin-top: 10px;
	padding: 10px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}

.product__filters__holder::-webkit-scrollbar-track {
    background-color: #fff;
}

.product__filters__holder::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}

.product__filters__holder::-webkit-scrollbar-thumb {
    height: 5px;
    background-color: #003661;
}

/**********************
 * HEADER
 *********************/
.header {
	position: fixed;
	z-index: 99;
	width: 100%;
	top: 0;
	transition: all 500ms ease;

	.header--top {
		background-color: $blue;
		padding: 6px 45px;

		.header__contact {
			width: 50%;

			.header__cntct-details {
				font-size: 12px;
				margin-right: 30px;
				font-family: $font--1;

				&:last-child {
					margin-right: 0;
				}

				.icon {
					font-size: 16px;
					margin-right: 5px;

					&.fa-phone {
						transform: rotate(90deg);
					}
				}
			}
		}

		.header__search {
			width: 50%;
			
			.input-txt {
				border: 1px solid $white;
				border-radius: 50px;
				padding: 2px 12px;
				margin-right: 10px;
				background-color: transparent;
				font-size: 14px;

				input {
					border: none;
					background-color: transparent;
					width: 230px;
				}

				@include placeholder {
					font: 11px $font--1;
					color: $white;
				}
			}

			.search-btn {
				button {
					background-color: $white;
					color: $blue;
					border: none;
					border-radius: 50px;
					padding: 8px 24px;
					font: 11px $font--1;
				}
			}
		}
	}

	.header--bottom {
		background-color: #000;
		padding: 6px 45px;

		.header__logo-holders {
			width: 30%;

			.header__logo-holder1 {
				position: relative;
				width: 220px;
				height: 50px;

				.header__logo {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					max-width: 100%;
					height: 100%;
				}
			}

			.header__logo-holder2 {
				position: relative;
				width: 50px;
				height: 40px;

				.header__logo {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					max-width: 100%;
					height: 100%;
				}
			}
		}

		.navigation__set {
			width: 70%;
			text-align: right;

			.navigation__link {
				position: relative;
				margin-right: 35px;

				.navigation__text {
					font-size: 14px;
					color: $white;
					text-transform: uppercase;
					font-family: $font--1;
					cursor: pointer;
				}

				.icon {
					margin-left: 5px;
					color: $white;
					font-size: 1.1em;
					cursor: pointer;
				}

				.navigation__drop-down{
					position: absolute;
				    display: none;
				    top: 35px;
				    left: 0px;
				    padding: 8px 12px;
				    width: 190%;
				    background: $white;
				    text-align: left;
				    box-sizing: border-box;
				    box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.1);

				    &.show {
				    	position:absolute;
					    display: block;
					    width: auto;
				    }

				    .navigation__link {
				    	margin-bottom: 5px;

				    	&:last-child {
				    		margin-bottom: 0;
				    	}

				    	.navigation__text {
				    		color: $black;
				    		text-transform: none;
				    		font-weight: bold;
				    		font-size: 13px;
				    	}
				    }

				    .tip{
					    width: 0; 
					    height: 0; 
					    border-left: 20px solid transparent;
					    border-right: 20px solid transparent;
					    border-bottom: 30px solid #fff;
					    position: absolute;
					    top: -12px;
					    left: 50%;
					    transform: translateX(-50%);
					}
				}
			}

			.header__user {
				position: relative;
				margin-left: 15px;

				.icon {
					margin-right: 8px;
					font-size: 1.1em;
				}

				.navigation__text {
					font-size: 14px;
					color: $white;
					font-family: $font--1;
					cursor: pointer;
				}

				.navigation__drop-down{
					position: absolute;
				    display: none;
				    top: 35px;
				    left: -50px;
				    padding: 8px 5px;
				    min-width: 300%;
				    max-width: 300%;
				    background: $white;
				    text-align: left;
				    box-sizing: border-box;
				    box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.1);

				    &.show {
				    	position:absolute;
					    display: block;
					    width: auto;
				    }

				    .navigation__link {
				    	
				    	.navigation__text {
				    		color: $black;
				    		text-transform: none;
				    		font-weight: bold;
				    		font-size: 13px;

				    		.usr__logo-holder {
								position: relative;
								display: inline-block;
								vertical-align: top;

								.usr__logo {
									position: absolute;
									top: 0;
									left: 50%;
									transform: translateX(-50%);
									max-width: 100%;
									height: 100%;
								}

								.icon {
									font-size: 16px;
									color: $black;
								}
							}

							.usr__text {
								margin-left: 2%;
								display: inline-block;
								vertical-align: top;
								
								p {
									font-weight: bold;
									font-size: 14px;
								}
							}
				    	}
				    }

				    .tip{
					    width: 0; 
					    height: 0; 
					    border-left: 20px solid transparent;
					    border-right: 20px solid transparent;
					    border-bottom: 30px solid #fff;
					    position: absolute;
					    top: -12px;
					    left: 20%;
					}
				}
			}
		}
	}
}
/**********************
 * FOOTER
 *********************/
.footer {
	position: relative;
	z-index: 8;

	.footer--top {
		width: 100%;
		padding: 30px 50px;
		background-color: #000;

		.footer__col--1 {
			display: inline-block;
			vertical-align: top;
			width: 25%;
			margin-right: 10%;

			.footer__logo-holder {
				position: relative;
				width: 100%;
				height: 80px;
			}

			.address {
				color: $white;

				i {
					width: 8%;
					font-size: 18px;
					margin-left: 10px;
				}

				p {
					width: 80%;
					font-size: 13px;
					line-height: 16px;
				}
			}
		}	

		.footer__col--2 {
			display: inline-block;
			vertical-align: top;
			width: 20%;
			margin-right: 10%;

			.menu-title {
				font-size: 14px;
				color: $white;
				font-family: $font--2;
				margin-bottom: 15px;
			}

			.contact-col {
				width: 50%;
				display: inline-block;
				vertical-align: top;

				.menu-title {
					margin-bottom: 3px;
				}

				.menu-item {
					color: $white;
					font-family: $font--1;
					margin-bottom: 3px;
				}
			}
		}

		.footer__col--3 {
			display: inline-block;
			vertical-align: top;
			width: 20%;

			.menu-title {
				font-size: 14px;
				color: $white;
				font-family: $font--2;
				margin-bottom: 15px;
			}

			.menu-item {
				color: $white;
				font-family: $font--1;
				margin-bottom: 3px;
			}
		}	

		.footer__col--4 {
			display: inline-block;
			vertical-align: top;
			width: 15%;

			.menu-title {
				font-size: 14px;
				color: $white;
				font-family: $font--2;
				margin-bottom: 15px;
			}

			.menu-item {
				color: $white;
				font-family: $font--1;
				margin-bottom: 3px;
			}
		}
	}

	.footer--bottom {
		width: 100%;
		padding: 14px;
		background-color: $black;
		text-align: center;
		color: $white;
		font-size: 12px;
	}
}
/**********************
 * HOMEPAGE
 *********************/
.homepage {
	&.frame--1 {

		.h__text-holder {
			width: 45%;
			padding: 15% 0 17%;

			.h__title {
				font-size: 50px;
				line-height: 62px;
				color: $white;
				margin-bottom: 15px;
			}

			.h__desc {
				font-size: 28px;
				color: $white;
				margin-bottom: 40px;
			}
		}

		.h__prod-category-container {
			position: relative;
			width: 100%;
			text-align: center;
			margin: auto;
			transform: translateY(40px);
			z-index: 8;

			.h__products {
				position: relative;
				z-index: 8;
				display: inline-block;
				vertical-align: middle;
				width: 16.66%;
				padding: 16px 0;
				text-align: center;
				background-color: $dark-gray;
				border-right: 2px solid $black;
				cursor: pointer;
				transition: all 300ms ease;
				margin-left: -1%;
				margin-right: -1%;

				&:hover {
					background-color: $blue;
					transition: all 200ms ease;
				}

				.h__products-img-holder {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
					width: 35px;
					height: 35px;
					cursor: pointer;

					.img-fit {
						left: 50%;
						transform: translateX(-50%);
					}
				}

				p {
					display: inline-block;
					vertical-align: middle;
					color: $white;
					font-family: $font--1;
					cursor: pointer;
					font-size: 0.9em;
				}
			}
		}
	}

	&.frame--2 {
		padding: 80px 0 40px;

		.h__f-prod-container {
			width: 90%;
			margin: auto;

			.h__f-prod-title {
				font-size: 34px;
				font-family: $font--3;
				color: $white;
				margin-bottom: 40px;
			}

			.h__slider {
				position: relative;
				margin-bottom: 50px;

				.h__f-prod-col--1 {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					width: 38%;
					text-align: right;

					.h__f-prod-img-holder {
						position: relative;
						width: 100%;
						height: 335px;
						margin-left: auto;

						.img-fit {
							position: absolute;
							top: 0;
							left: 50%;
							transform: translateX(-50%);
							bottom: 0;
							right: 0;
							max-width: 100%;
							max-height: 100%;
							object-fit : cover;
						}
					}
				}

				.h__f-prod-col--2 {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					width: 50%;
					padding-left: 8%;
					text-align: left;
					box-sizing: border-box;

					.h__slider-desc {

						.h__f-prod-title {
							font-size: 34px;
							font-family: $font--3;
							color: $white;
							margin-bottom: 30px;
						}

						p {
							font-family: $font--1;
							font-size: 20px;
							color: $white;
							margin-bottom: 60px;
						}
					}
				}				
			}
			.slick-dots {
			   bottom: 0%;
			}
		}
	}

	&.frame--3 {
		padding: 50px 0;

		.h__contact-container {
			width: 42%;
			margin: auto;
			text-align: center;

			.h__title {
				color: $blue;
				font-family: $font--3;
				font-size: 34px;
				margin-bottom: 10px;
			}

			.h__desc {
				color: $black;
				font-size: 18px;
				margin-bottom: 30px;
			}
		}
	}

	&.frame--4 {
		position: relative;
		padding: 50px 0;


		.img-fit {
			left: auto;
			right: 8%;
		}

		.h__reg-img-holder {
			position: relative;
			width: 100%;
			height: 100px;
		}

		.h__reg-container {
			width: 40%;

			.h__title {
				color: $blue;
				font-family: $font--3;
				font-size: 34px;
			}

			.h__desc {
				color: $blue;
				font-size: 16px;
				margin-bottom: 30px;
			}

			.select {
				border: 1px solid $blue;
				border-radius: 50px;
				padding: 8px 24px 8px 12px;
				background-color: $white;
				width: 94%;
				font-size: 16px;
				margin-bottom: 15px;
			}
			
			.info {
				transform: translateY(5px);
				cursor: pointer;
			}

			.button {
				a {
					display: inline-block;
					width: 45%;
					margin-left: 5%;

					&:first-child {
						margin-left: 0;	
					}
				}

				.btn {
					padding: 10px 0px;
					text-align: center;
				}

				.rw__btn {
					.img-fit {
						left: 10%;
						top: 50%;
						transform: translateY(-50%);
						height: 80%;
					}
				}
			}
		}
	}
}


/**********************
 * PRODUCTS PAGE
 *********************/
.productpage {
	&.frame--1 {
		position: relative;

		.bg__slider {
			width: 100%;
			height: 550px;
		}

		.p__container {
			position: absolute;
			top: 60%;
			transform: translateY(-50%);
			left: 0;
			z-index: 8;
			margin-left: 95px;

			.p__title {
				color: $blue;
				font-family: $font--3;
				font-size: 28px;
				margin-bottom: 10px;
			}

			.p__desc {
				width: 55%;
				color: $black;
				font-size: 16px;
				margin-bottom: 30px;
			}
		}

		.slick-dots {
			left: 95px;
		    bottom: 8%;
		    text-align: left;

			li {
				&.slick-active {
					button {
						&:before {
			    			color: $blue;
				    	}
					}
				}

				button {
				    &:before {
		    			color: $blue;
				    }
				}
			}
		}
	}

	&.frame--2 {
		background-color: $light-gray;

		#breadcrumb {
			margin-bottom: 20px;
		}

		.p__title {
			font-family: $font--2;
			color: $black;
			font-size: 24px;
			margin-bottom: 20px;
			margin-top: 20px;
		}

		.p__holder {
			width: 100%;

			.btn {
				margin: 10px 0 30px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			.p__col {
				display: inline-block;
				vertical-align: top;
				width: 23.5%;
				margin-left: 2%;
				margin-bottom: 2%;
				padding: 24px;
				background-color: $white;
				text-align: left;

				&:first-child,
				&:nth-child(4n+1) {
					margin-left: 0;
				}

				.p__img-holder {
					position: relative;
					width: 100%;
					height: 250px;
					margin-bottom: 20px;

					img {
						position: absolute;
						top: 0;
						left: 50%;
						transform: translateX(-50%);
						right: 0;
						bottom: 0;
						max-width: 100%;
						max-height: 100%;
					}
				}

				.p__details {
					.p__code {
						font-family: $font--2;
						font-size: 18px;
						color: $black;
					}

					.p__name {
						font-family: $font--2;
						font-size: 21px;
						color: $blue;
					}

					.p__specs {
						margin-bottom: 15px;
						height: 60px;
						overflow: auto;

						ul {
							li::before {
							  content: "•";
							  padding-right: 5px;
							  color: #000;
							}
						}
					}
				}

				.btn {
					width: 100%;
					padding: 8px 0;
					margin: 0;
				}
			}
		}
	}
}
/** 
 * PRODUCT CATEGORY
 */
.product-category-page {
	&.frame--1 {

		.frame-banner {
			margin-top: 80px;
		}

		.pc__container {
			width: 40%;
			margin-left: auto;
			padding: 12% 0 5%;
			text-align: right;

			.pc__title {
				font-family: $font--3;
				font-size: 40px;
				color: $blue;
				margin-bottom: 10px;
			}

			.pc__desc {
				font-family: $font--1;
				font-size: 24px;
				color: $black;
			}
		}
	}
}
/** 
 * SELECTED PRODUCT
 */
.selected-productpage {
	padding: 60px 70px 40px;

	#breadcrumb {
		margin-bottom: 30px;
	}

	.sp__container {
		.sp__col--1 {
			width: 70%;
			display: inline-block;
			vertical-align: top;

			.sp__slider-holder {
				width: 40%;
				display: inline-block;
				vertical-align: top;

				.sp__img-holder {
					position: relative;
					width: 100%;
					height: 410px;

					.img-fit {
						position: absolute;
						top: 0;
						left: 50%;
						transform: translateX(-50%);
						right: 0;
						bottom: 0;
						max-width: 100%;
						max-height: 100%;
					}
				}

				.slick-dots {
					bottom: -5%;
					
					li {
						&.slick-active {
							button {
								&:before {
					    			color: $blue;
						    	}
							}
						}

						button {
						    &:before {
				    			color: $blue;
						    }
						}
					}
				}
			}

			.sp__details {
				width: 60%;
				display: inline-block;
				vertical-align: top;
				padding: 5% 6%;

				.sp__code {
					font-family: $font--2;
					font-size: 20px;
					color: $blue;
					margin-bottom: 10px;
				}

				.sp__name {
					font-family: $font--2;
					font-size: 32px;
					color: $blue;
					margin-bottom: 20px;
				}

				.sp__desc {
					font-family: $font--1;
					font-size: 18px;
					color: lighten($black, 30);
					margin-bottom: 20px;
				}
			}
		}

		.sp__col--2 {
			width: 30%;
			height: auto;
			padding: 2%;
			display: inline-block;
			vertical-align: top;
			border: 1px solid $black;
			box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.2);

			.sp__title {
				font-family: $font--1;
				font-size: 26px;
				color: $blue;
				margin-bottom: 5px;
			}

			.sp__specs {

				ul {
					li::before {
					  	content: "•";
						padding-right: 5px;
						color: #000;
					}
					li {
						font-size: 17px;
						margin-bottom: 5px;
						color: lighten($black, 30)
					}
				}
				
			}
		}
	}
}
/**********************
 * WARRANTIES PAGE
 *********************/
/** 
 * BASIC WARRANTY
 */
.basicwarranty {
	&.breadcrumbs {
		margin-top: 120px;
	}

	.bw__container {
		margin: 40px 0;
		

		.bw__title {
			margin-top: 130px;
			text-align: center;
			font-family: $font--3;
			font-size: 22px;
			color: $black;
			margin-bottom: 30px;
		}

		.bw__form {
			width: 35%;
			margin: auto;
			text-align: center;

			.bw__form-row {
				position: relative;
				text-align: left;
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}

				label {
					font-size: 16px;
					margin-bottom: 5px;
				}

				// select {
				//   	display: none;
				// }

				.selected {
					cursor: pointer;

					i { float: right; }
				}


				.select-dropdown {
					position: absolute;
					left: 0;
					transform: translateY(5px);
					z-index: 8;
					max-height: 500px;
					width: 100%;
					background-color: $white;
					border: 1px solid lighten($dark-gray,30);
					border-top: none;
					display: none;

					&.opened {
						display: block;
					}

					.item-holder {
						max-height: 300px;
						width: 100%;
						overflow: auto;

						.items {
							padding: 12px 24px;
							cursor: pointer;

							&:nth-child(even) {
								background-color: $light-gray;
							}

							&:hover {
								background-color: rgba(0,0,0,0.1);
							}

							.img-holder {
								position: relative;	    
							    width: 15%;
							    height: 40px;
							    vertical-align: middle;
							    display: inline-block;
							}

							.dropdown-content {
								width: 85%;
							    display: inline-block;
							    vertical-align: middle;
							    font-size: 15px;
							    text-align: right;
							}
						}
					}
				}

				::-webkit-scrollbar {
				  	width: 5px;
				  	background: rgba(0,0,0,0.1);
				}

				::-webkit-scrollbar-thumb {
				  	background: rgba(0,0,0,0.2);
				  	border-radius: 5px;
				  	z-index: 888;
				}

				// .select {
				// 	padding: 7px 10px;
				// }

				.info {
					position: absolute;
					right: -25px;
					top: 33px;
					font-size: 18px;
					color: $blue;
					display: inline-block;
					vertical-align: middle;
					cursor: pointer;
				}

				input[type=file] {
					cursor: pointer;
				  	width: 100%;
				  	height: 34px;
				  	overflow: hidden;
				}

				input[type=file]:before {
					@extend %input-text;
				  	content: 'Browse file';
				  	display: inline-block;
				  	background: $light-gray;
				  	text-align: left;
				}

				input[type=file]::-webkit-file-upload-button {
				  	visibility: hidden;
				}
				
			}

			.span {
				display: block;
				font-size: 12px;
				margin-bottom: 30px;
			}

			button {
				display: inline-block;
				width: 49%;
				text-align: left;
				padding: 5px 25px;
				margin: 0;
				margin-bottom: 20px;
				box-sizing: border-box;

				img {
					margin-right: 5px;
				}
			}

			.margin {
				margin-left: 2%;
			}

			a {
				font-size: 18px;
				font-family: $font--2;
				color: $blue;
				border-bottom: 1px solid $blue;
			}
		}
	}
}
/** 
 * EXTENDED WARRANTY
 */
.extendedwarranty {

	#breadcrumb {
		margin-bottom: 20px;
	}

	.ew__container {
		width: 50%;
		padding: 3px;
		padding-bottom: 20px;
		background-color: $black;
		margin: 40px auto;
		// margin-top: 150px;

		.ew__title {
			position: relative;
			padding: 10px 0;
			height: 80px;
			text-align: center;
			background-color: $white;
			margin-bottom: 40px;

			.img-logo {
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
			}
			p {
				display: inline-block;
				vertical-align: middle;
				font-family: $font--3;
				font-size: 28px;
				color: $blue;
			}
			
		}

		.ew__form {
			width: 75%;
			margin: auto;
			text-align: center;

			.ew__form-row {
				position: relative;
				text-align: left;
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}

				label {
					font-size: 16px;
					margin-bottom: 5px;
					color: $white
				}

				// select {
				//   	display: none;
				// }

				.selected {
					cursor: pointer;

					i { float: right; }
				}

				.select-dropdown {
					position: absolute;
					left: 0;
					transform: translateY(5px);
					z-index: 8;
					max-height: 500px;
					width: 100%;
					background-color: $white;
					border: 1px solid lighten($dark-gray,30);
					border-top: none;
					display: none;

					&.opened {
						display: block;
					}

					.item-holder {
						max-height: 300px;
						width: 100%;
						overflow: auto;

						.items {
							padding: 12px 24px;
							cursor: pointer;

							&:nth-child(even) {
								background-color: $light-gray;
							}

							&:hover {
								background-color: rgba(0,0,0,0.1);
							}

							.img-holder {
								position: relative;	    
							    width: 15%;
							    height: 40px;
							    vertical-align: middle;
							    display: inline-block;
							}

							.dropdown-content {
								width: 85%;
							    display: inline-block;
							    vertical-align: middle;
							    font-size: 15px;
							    text-align: right;
							}
						}
					}
				}

				::-webkit-scrollbar {
				  	width: 5px;
				  	background: rgba(0,0,0,0.1);
				}

				::-webkit-scrollbar-thumb {
				  	background: rgba(0,0,0,0.2);
				  	border-radius: 5px;
				  	z-index: 888;
				}

				.info {
					position: absolute;
					right: -25px;
					top: 33px;
					font-size: 18px;
					color: $white;
					display: inline-block;
					vertical-align: middle;
					cursor: pointer;
				}

				.input-text {
					background-color: $white;
				}

				input[type=file] {
					cursor: pointer;
				  	width: 100%;
				  	height: 34px;
				  	overflow: hidden;
				}

				input[type=file]:before {
					@extend %input-text;
				  	content: 'Browse file';
				  	display: inline-block;
				  	background: $light-gray;
				  	text-align: left;
				}

				input[type=file]::-webkit-file-upload-button {
				  	visibility: hidden;
				}
			}

			.span {
				font-size: 12px;
				margin-bottom: 30px;
				color: $white;
				display: block;
				text-align: left;
			}

			button {
				color: $black;
				margin-right: 5%;
			}
		}
	}
}

/** 
 * CHECKOUT PAGE
 */
.checkout {

	.ch__container {
		padding: 32px 130px;
		margin-top: 120px;

		.ch__col--1,
		.ch__col--2 {
			width: 45%;
			display: inline-block;
			vertical-align: top;
			margin-right: 10%;
			padding: 24px 0;

			.ch__sub-title {
				font: 18px $font--1;
				margin-top: 50px;
				margin-bottom: 10px;
			}

			.check-box {

				input {
					border: none;
					background-color: transparent;
					color: $black;
					font: 14px $font--1;
				}

				.checkbox-lbl {
					display: block;
					position: relative;
					padding-left: 20px;
					cursor: pointer;
					font-size: 12px;
						  	
					input {
					  	position: absolute;
					   	opacity: 0;
					   	cursor: pointer;
					   	height: 0;
					   	width: 0;
					}
				}

				.checkmark {
					position: absolute;
					top: 2px;
				  	left: 0;
				  	height: 12px;
				  	width: 12px;
				  	border: 1px solid $black;
				  	border-radius: 4px;
				}
				.checkbox-lbl {
				  	&:hover input ~ .checkmark {
					    background-color: $white;
					    border: 1px solid $black;
				  	}
				  	input:checked ~ .checkmark {
					    background-color: $white;
					    border: 1px solid $black;
					    color: $black;
				  	}
				}
				.checkmark {
					&:after {
						content: "";
					  	position: absolute;
					  	display: none;
					}  	
				}
				.checkbox-lbl {
				  	input:checked ~ .checkmark:after {
				    	display: block;
				  	}
				  	.checkmark:after {
				  		top: 1px;
					    left: 3px;
						width: 4px;
						height: 6px;
						border: solid $black;
						border-width: 0 1px 1px 0;
						-webkit-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
				  	}
				}
			}

			.ch__title {
				font-family: $font--2;
				font-size: 20px;
				margin-bottom: 15px;
			}

			.ch__form-row {
				position: relative;
				margin-bottom: 10px;

				.btn {
					position: relative;
					padding: 8px 20px;
					font-size: 14px;
					margin-top: 10px;
					right: 0;
				}

				img {
					position: absolute;
					right: -18px;
					top: 32px;
				}

				label {
					font-size: 14px;
					margin-bottom: 3px;
				}

				&:last-child {
					margin-bottom: 0px;
				}

				.input-text {
					background-color: $white;

					&.error {
						border: 1px solid #cc0000;
					}
				}

				.ch__title {
					margin-bottom: 0px;
					margin-top: 15px;
					font-size: 18px;
				}
			}
		}

		.ch__form {
			background-color: $light-gray;
			border: 1px solid lighten($dark-gray, 40);
			padding: 24px 36px;
			margin-bottom: 10px;
		}

		.ch__col--2 {
			margin-right: 0%;
			padding: 0;

			.check-box {
				margin-bottom: 20px;
			}

			button {
				margin-right: 20px;
			}
		}
	}
}
/** 
 * WARRANTY INFO
 */
.warrantyinfo {
	&.frame--1 {

		.wi__container {
			width: 70%;
			height: 68vh;
			margin: auto;
			margin-top: 80px;
			text-align: center;

			.wi__title {
				font-family: $font--3;
				font-size: 42px;
				color: $white;
				margin-bottom: 30px;
			}

			p {
				font-family: $font--1;
				font-size: 18px;
				color: $white;
				margin-bottom: 40px;
			}
		}
	}

	&.frame--2 {

		.frame-padding {
			padding: 60px 50px;
		}

		.wi__title {
			text-align: center;
			font-size: 30px;
			font-family: $font--2;
			margin-bottom: 40px;
		}

		.wi__container {
			width: 95%;
			text-align: left;
			margin: auto;

			.wi__title {
				font-family: $font--2;
				font-size: 22px;
				color: $black;
				margin-bottom: 20px;
				text-align: left;
			}

			.wi__desc {
				font-family: $font--1;
				font-size: 16px;
				color: $black;
				margin-bottom: 20px;

				ol {
					li {
						margin-left: 20px;
					}
				}

				ul {
					li::before {
					  content: "•";
					  padding-right: 5px;
					  color: #000;
					}
				}
			}
		}
	}
}
/**********************
 * ABOUT PAGE
 *********************/
.aboutpage {

	&.frame--1 {

		.a__container {
			position: absolute;
			top: 45vh;
			left: 50%;
			transform: translateX(-50%);
			z-index: 9;
			width: 60%;
			text-align: center;

			.a__title {
				font-family: $font--3;
				font-size: 42px;
				color: $white;
				margin-bottom: 5px;
			}

			.a__desc {
				font-family: $font--2;
				font-size: 24px;
				color: $white;
			}
		}
	}

	&.frame--2 {
		position: relative;

		.img-fit {
			left: auto;
			right: 15%;
		}

		.a__container {
			width: 60%;
			padding: 60px 0;

			.a__title {
				font-family: $font--3;
				font-size: 42px;
				color: $blue;
				margin-bottom: 30px;
			}

			.a__desc {
				width: 80%;
				font-family: $font--1;
				font-size: 16px;
				color: $black;
				max-height: 280px;
				overflow: auto;
			}
		}
	}

	&.frame--3 {
		background-color: $light-gray;

		.a__title {
			font-family: $font--3;
			font-size: 36px;
			color: $blue;
			text-align: center;
			margin-bottom: 30px;
		}

		.a__accordion__list {
			
			.a__accordion {
				position: relative;
				background-color: $white;
				border: 1px solid $dark-gray;
				border-bottom: none;
				padding: 20px;

				&:last-child {
					border-bottom: 1px solid $dark-gray;
					margin-bottom: 30px;
				}

				.a__question {
					display: block;
					color: $blue;
					font-size: 18px;
					font-family: $font--2;
					cursor: pointer;
					-webkit-transition:all 0.2s linear;
					-moz-transition:all 0.2s linear;
					transition:all 0.2s linear;

					.fa-arrow-down,
					.fa-arrow-up {
						float: right;
					}

					&.active {
						margin-bottom: 15px;
					}
				}

				.a__answer {
					display: none;
					color: $black;
					font-size: 1.2em;
					border-left: 3px solid $light-blue;
					margin-left: 30px;
					padding: 10px 40px 10px 20px;
				}
			}
		}
	}

	&.frame--4 {
		.a__title {
			font-family: $font--3;
			font-size: 36px;
			color: $blue;
			text-align: center;
			margin-bottom: 30px;
		}

		.a-partners__sliderHolder {
		    margin-top: 50px;

		    .a-partners__item {
			    position: relative;
			    height: 80px;
			    margin: 0px 20px;

			    .img-fit {
			    	left: 50%;
			    	transform: translateX(-50%);
			    }
			}
		}
	}
}
/**********************
 * CONTACT PAGE
 *********************/
.contactpage {
	&.frame--1 {
		padding-bottom: 40px;

		.c__container {
			text-align: center;
			margin-top: 120px;

			.c__title {
				font-family: $font--3;
				font-size: 28px;
				color: $blue;
				margin-bottom: 10px;
			}

			.c__desc {
				font-family: $font--1;
				font-size: 16px;
				color: $black;
				margin-bottom: 25px;
			}

			.c__form {
				width: 60%;
				margin: auto;
				
				.c__form-row {
					width: 48%;
					display: inline-block;
					margin-left: 4%;
					margin-bottom: 10px;
					text-align: left;

					&:first-child,
					&:nth-child(2n+1) {
						margin-left: 0;
					}

					label {
						font-size: 14px;
						margin-bottom: 5px;
					}

					&.textarea {
						width: 100%;
						margin-left: 0;

						textarea {
							width: 100%;
							height: 120px;
							padding: 5px;
							margin: 20px 0;
							font-size: 14px;
							border: 1px solid lighten($dark-gray,30);
						}
					}
				}
			}
		}
	}

	&.frame--2 {

		&.container {
			padding: 0;
		}
		.c__sc-col {
			display: inline-block;
			vertical-align: top;
			width: 41.5%;
			padding: 26px 38px;
			background-color: $light-gray;
			height: 100%;

			&:last-child {
				width: 58.5%;
				height: 100%;
				padding: 0;
				background-color: gray;
			}

			.c__title {
				font-family: $font--3;
				font-size: 34px;
				color: $black;
				margin-bottom: 10px;
			}

			.c__sc-container {
				width: 100%;
				height: auto;
				padding: 24px;
				background-color: $white;

				.select {
					width: 100%;
					border: 1px solid $black;
					background-color: $white;
					padding: 8px 12px;
					margin-bottom: 40px;
				}

				.c__sc-holder {
					height: 250px;
					margin-bottom: 40px;
					overflow: auto;

					.c__sc-name {
						font-family: $font--2;
						font-size: 20px;
						color: $blue;
						margin-bottom: 30px;
						margin-top: 40px;

						&:first-child {
							margin-top: 0;
						}
					}

					.c__sc-details {
						width: 95%;
						margin-left: 5%;
						margin-bottom: 10px;

						.icon {
							width: 5%;
							display: inline-block;
							vertical-align: top;
							margin-top: 3px;
							color: $black;

							.fa-phone {
								transform: rotate(90deg);
							}
						}

						.c__sc-contact {
							width: 95%;
							display: inline-block;
							vertical-align: top;

							.c__title {
								font-family: $font--2;
								font-size: 16px;
								margin-bottom: 3px;
								color: $black;
								text-align: left;
							}

							.c__desc {
								font-size: 13px;
								color: $black;
							}
						}
					}
				}
			}
		}
	}
}
/**********************
 * REGISTER WARRANTY
 *********************/
.rw__container {
	padding: 50px 0;

	.rw__title  {
		font-family: $font--3;
		font-size: 36px;
		color: $white;
		text-align: center;
		margin-bottom: 40px;
	}

	.rw__form {
		width: 50%;
		margin: auto;

		.rw__form-row {
			position: relative;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			.select {
				border: 1px solid $blue;
				border-radius: 50px;
				padding: 8px 28px 8px 16px;
				background-color: $white;
				width: 100%;
				font-size: 16px;
				display: inline-block;
				vertical-align: middle;
			}
			
			.info {
				position: absolute;
				right: -25px;
				transform: translateY(5px);
				display: inline-block;
				vertical-align: middle;
			}

			.button {
				a {
					display: inline-block;
					width: 47.5%;
					margin-left: 5%;
					
					&:first-child {
						margin-left: 0%;	
					}
				}

				.rw__btn {
					.img-fit {
						left: 10%;
						top: 50%;
						transform: translateY(-50%);
						height: 80%;
					}
				}
			}
		}
	}
}

/**********************
 * LOGIN/SIGNUP PAGE
 *********************/
.login {

	.ls__container {
		padding: 30px 0;
		margin-top: 90px;

		.ls__title {
			font-family: $font--3;
			font-size: 22px;
			color: $black;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 5px;
		}

		.ls__desc {
			font-family: $font--1;
			font-size: 20px;
			color: $black;
			text-align: center;
			margin-bottom: 20px;
		}

		.ls__form {
			width: 38%;
			margin: auto;
			text-align: center;

			.ls__form-row {
				margin-bottom: 15px;
				text-align: left;

				label {
					font-size: 16px;
				}

				.error-label {
					margin-top: 2px;
					font-size: 11px;
				}
			}

			button {
				width: 200px;
				margin-bottom: 10px;
			}

			p {
				font-size: 16px;

				a {
					font-family: $font--2;
					color: $black;
					border-bottom: 1px solid $black;
				}
			}

			.links {
				width: 55%;
				margin: 20px auto;

				input {
					border: none;
					background-color: transparent;
					color: $black;
					font: 14px $font--1;
				}

				.checkbox-lbl {
					display: block;
					position: relative;
					padding-left: 20px;
					cursor: pointer;
					font-size: 12px;
					text-align: left;
					  	
					input {
					  	position: absolute;
					   	opacity: 0;
					   	cursor: pointer;
					   	height: 0;
					   	width: 0;
					}
				}

				.checkmark {
					position: absolute;
					top: 2px;
				  	left: 0;
				  	height: 12px;
				  	width: 12px;
				  	border: 1px solid $black;
				  	border-radius: 4px;
				}
				.checkbox-lbl {
				  	&:hover input ~ .checkmark {
					    background-color: $white;
					    border: 1px solid $black;
				  	}
				  	input:checked ~ .checkmark {
					    background-color: $white;
					    border: 1px solid $black;
					    color: $black;
				  	}
				}
				.checkmark {
					&:after {
						content: "";
					  	position: absolute;
					  	display: none;
					}  	
				}
				.checkbox-lbl {
				  	input:checked ~ .checkmark:after {
				    	display: block;
				  	}
				  	.checkmark:after {
				  		top: 1px;
					    left: 3px;
						width: 4px;
						height: 6px;
						border: solid $black;
						border-width: 0 1px 1px 0;
						-webkit-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
				  	}
				}
			}
		}
	}
}


/**********************
 * USER PROFILE PAGE
 *********************/
 .user-profile {
 	position: relative;
 	width: 100%;
 	height: 100%;
 	background-color: $light-gray;

 	.usr__sidebar {
 		position: fixed;
 		margin-top: 100px;
		width: 19%;
		min-height: 100vh;
		color: $white;
		background: lighten($blue, 15);
		display: inline-block;
		vertical-align: top;
		transition: all 500ms ease;
		box-sizing: border-box;

		.usr__profile {
			padding: 20px 20px;
			background: lighten($blue, 10);

			.usr__img-holder {
				position: relative;
				width: 40px;
				height: 40px;
				border-radius: 50px;
				margin-right: 10px;
				overflow: hidden;
				display: inline-block;
				vertical-align: middle;

				.img-fit {
					left: 50%;
					transform: translateX(-50%);
				}
			}

			.usr__name {
				width: 70%;
				height: auto;
				font-size: 16px;
				font-family: $font--2;
				display: inline-block;
				vertical-align: middle;
			}
		}

		.usr__link {
			padding: 10px 20px;
			box-sizing: border-box;
			cursor: pointer;
			// background-color: red;

			&:hover {
				background-color: lighten($blue, 5);
				color: $white;
			}

			.usr__logo-holder {
				position: relative;
				width: 12%;
				height: 30px;
				display: inline-block;
				vertical-align: middle;

				.usr__logo {
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					max-width: 100%;
					height: 100%;
				}

				.icon {
					font-size: 24px;
				}
			}

			.usr__text {
				font-size: 16px;
				margin-left: 5%;
				display: inline-block;
				vertical-align: middle;
			}
		}
 	}

 	.usr__main {
 		margin-top: 100px;
 		margin-left: 19%;
		width: 81%;
		min-height: 100vh;
		overflow: auto;
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
		background-color: $white;
		padding: 42px;

		.usr__search {
			width: 35%;
			padding: 6px 12px;
			border: 1px solid $blue;
			border-radius: 50px;
			margin-bottom: 30px;

			i {
				color: darken($light-gray, 30);
				margin-right: 5px;
			}

			.input-text {
				width: 90%;
				border: none;
				padding: 0;
				font-size: 14px;
			}
		}

		.usr__tbl-holder {
			overflow: auto;
		}

		table {
			width: 100%;
			border: 1px solid lighten($dark-gray,50);

			tr {
				text-align: center;

				&:nth-child(odd) {
					background-color: $light-gray;
				}

				&:first-child {
					background-color: $blue;
					color: $white;
				}

				th, td {
					text-align: center;
					padding: 8px 6px;
					vertical-align: middle;
					border-right: 1px solid lighten($dark-gray,50);
					// width: 100%;

					.tbl__img-holder {
						display: inline-block;
						vertical-align: middle;
						position: relative;
						width: 35px;
						height: 35px;
						margin-right: 5px;

						img {
							position: relative;
							top: 0;
							left: 50%;
							transform: translateX(-50%);
							max-width: 100%;
							height: 100%;
						}
					}

					p {
						display: inline-block;
						vertical-align: middle;
					}

					a {
						color: $blue;
					}
				}
			}
		}

		.usr__container {
			padding: 36px 42px;
			border: 1px solid lighten($dark-gray,30);
			background-color: $white;

			.usr__title {
				font-size: 24px;
				font-family: $font--2;
				margin-bottom: 20px;
			}

			.icon {
				background: lighten($blue, 10);
				width: 25px;
				height: 25px;
				border-radius: 50px;
				text-align: center;
				transform: translateY(-12px);
				margin-left: 5px;
				cursor: pointer;

				i {
					position: relative;
					top: 3px;
					font-size: 12px;
					color: $white;
				}
			}

			

			.usr__form {

				.usr__form-row {
					display: inline-block;
					width: 47.5%;
					margin-left: 5%;
					margin-bottom: 10px;

					&:first-child,
					&:nth-child(2n+1) {
						margin-left: 0;
					}

					label {
						font-size: 14px;
						margin-bottom: 5px;
					}
				}

				.usr__line {
					width: 100%;
					height: 1px;
					border: 1px solid darken($light-gray,20);
					margin: 20px 0;
				}

				.password {
					.usr__form-row {
						display: block;
						width: 47.5%;
						margin-left: 0;
						margin-bottom: 10px;

						&:last-child,
						&:nth-child(3) {
							display: inline-block;
						}
					}
				}
			}
		}
 	}
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: 1px solid #737272 !important;
    border-radius: 0px !important;
}

.select2-dropdown {
	span { font-size: 14px !important; }
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #737272 !important;
    font-size: 15px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px !important;
}

.select2-container .select2-selection--single {
    height: 32px !important;
}